.car-name {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #666;
  line-height: 2rem;
}

.icon {
  color: #fff;
}

.field {
  text-align: left;
  font-weight: bold;
  padding-right: 20px;
}

.value {
  text-align: right;
}

.battery-level-ok {
  color: lightgreen;
}

.battery-level-warning {
  color: orange;
}

.battery-level-danger {
  color: lightcoral;
}

.dim {
  opacity: 0.6;
}

.map {
  border-radius: 5px;
}

.sentry {
  color: #f55;
}

.new-version {
  color: lightgreen;
}
